<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <style>
        .message {
            color: red;
        }

        #wrap {
            min-height: 100%;
        }

        #main {
            overflow: auto;
            padding-bottom: 150px;
            /* this needs to be bigger than footer height*/
        }

        .footer {
            position: relative;
            margin-top: -150px;
            /* negative value of footer height */
            height: 150px;
            clear: both;
            padding-top: 20px;
        }
    </style>
    <title>
        Servidor
    </title>
</head>

<body>
    <center>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Bienvenido</h1>
                <p class="lead">Sistema de gestión de cursos y matriculas
                </p>
            </div>
        </div>