{{>header}}
<h2>Lista de cursos disponibles</h2>
{{{obtenerCursos coord}}}
<br>
<form action="/crear" method="GET">
    <button class="btn btn-primary col-3">Crear un curso</button>
</form>
<h5 class="message">{{mensaje}}</h5> 
{{>footer}}