{{>header}}
<h2>Registrarse a un curso</h2>
<form action="/registro" method="POST">
<input type="number" name="identificacion" placeholder="Numero de identificacion" required/><br>
<input type="text" name="nombre" placeholder="nombre" required/><br>
<input type="text" name="correo" placeholder="correo" required/><br>
<input type="number" name="telefono" placeholder="telefono" required/><br>
<input type="hidden" name="id" value="{{id}}"/><br>
<button>Matricular</button>
</form>
{{mensaje}}
{{>footer}}